.card {
  position: relative;
  max-width: 29rem;
  max-height: 66.8rem;
  border: 1px solid $gray-2;
  display: inline-block;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem;

  &__list {
    li {
      display: flex;
      span {
        margin: 0 1rem 0 0;
      }
    }
  }

  &__colors {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 2rem 0;
    cursor: pointer;

    &-selected {
      @extend .card__colors;
      border: 1px solid $black !important;
    }
  }

  &__details {
    position: absolute;
    height: 95%;
    width: 90%;
    background: $white;
    transform: translateY(-100%);
    transition: transform 1s;

  }
  &__details_active {
    position: absolute;
    transform: translateY(100%);
    transition: transform 1s;
    opacity: 0;
  }

  &__title {
    color: $black;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-weight: bold;
  }

  &__p-desc {
    margin: 2rem 0;
    font-size: 1.3rem;
    text-align: center;
  }

  &__p-price {
    font-size: 1.5rem;
    text-align: center;
  }

  &__windows-type {
    font-size: 1.8rem;
    margin-top: 0.6rem;
    text-align: center;
  }

  &__windows-size {
    font-size: 1.6rem;
    margin: 0.6rem;
    text-align: center;
  }

  &__checkbox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 15rem;

  }

  &__checkbox-element {
    width: 5rem;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray-2;
  }
}
