.review {
  &__actions {
    display: flex;
    margin: 1rem 0;
    align-items: center;

    span {
      margin-right: 3rem;
      font-size: 2.4rem;

      svg {
        cursor: pointer;
      }
    }
  }
}
